/* Reset minimal */
body, h1, h2, ul, li, p, ol {
    margin: 0;
    padding: 0;
    font-family:fantasy;
}

body {
    background-color: #04f7e2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    
}
header {
    background-color: #004080;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);   
}

main { 
    margin-top: 20px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
}


.card {
    background-color: #004080; 
    color: white; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

section {
    background-color: #004080;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
h2 {
    color: #eff1f3;
    margin-bottom: 10px;
}
ul, ol {
    padding-left: 20px;
}

.usage-vert {
    color: #00ff00; /* vert */
    font-weight: bold;
}

.usage-orange {
    color: orange; /* orange */
    font-weight: bold;
}

.usage-rouge {
    color: red; /* rouge */
    font-weight: bold;
}



footer {
    text-align: center;
    margin-top: 30px;
    color: #555;
    font-size: 0.9em;
}
@media (max-width: 900px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}
