Alexis
/* Reset minimal */
body, h1, h2, ul, li, p, ol {
    margin: 0;
    padding: 0;
    font-family:fantasy;
}

body {
    background-color: #04f7e2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    
}
header {
    background-color: #004080;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);   
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /
}

.card {
    background-color: #004080; 
    color: white; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

section {
    background-color: #004080;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
h2 {
    color: #eff1f3;
    margin-bottom: 10px;
}
ul, ol {
    padding-left: 20px;
}
/*.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}
.progress {
    height: 100%;
    background-color: #4caf50;
}*/


footer {
    text-align: center;
    margin-top: 30px;
    color: #555;
    font-size: 0.9em;
}